.intext{
    /* border: 1px solid #356EAD; */
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 1;
}

input::placeholder {
        color: #1c87c9;
        opacity: 0.6;
      }
/* input:placeholder-shown {
        border: 1px solid #095484;
      } */
 .button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
 }
.myform{
    display: flex;
    flex-direction: column;
}
.redline{
    border-color:#fd2020;
}